@media screen and (max-width: 1300px) {
	.photo1 {
		width: 138px; 
		height: 209px;
	}
	.photo2 {
		width: 138px; 
		height: 209px;
	}
	.photo3 {
		width: 138px; 
		height: 219px;
	}
	.photo4 {
		width: 138px; 
		height: 220px;
	}
	.photo5 {
		width: 138px; 
		height: 226px;
	}
	.photo6 {
		width: 138px; 
		height: 220px;
	}
	.image-section {
		display: grid;
		grid-template-columns: repeat(3, minmax(100px, auto));
		grid-template-rows: repeat(2, auto);
		grid-gap: 10px;
		justify-content: space-evenly;
		align-items: center;
	}
	.bottom-div1 {
		margin-top: 100px;
	}
	.product-owner {
		margin-left: -20px;
	}
	.art-director {
		margin-left: -10px;
	}
	.tech-lead {
		margin-left: 1px;
	}
	.ux-designer {
		margin-left: -6px;
	}
	.developer {
		margin-left: -1px;
	}
}

@media screen and (max-width: 800px) {
	.header-section {
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		margin-top: 71px;
		margin-bottom: 66px;
	}
	.header-text1 h1 {
		margin-bottom: 38px;
	}
	.header-text2 p {
		width: 100%;
	}
	.photo1 {
		width: 138px; 
		height: 209px;
	}
	.photo2 {
		width: 138px; 
		height: 209px;
	}
	.photo3 {
		width: 138px; 
		height: 219px;
	}
	.photo4 {
		width: 138px; 
		height: 220px;
	}
	.photo5 {
		width: 138px; 
		height: 226px;
	}
	.photo6 {
		width: 138px; 
		height: 220px;
	}
	.image-section {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, auto));
		grid-template-rows: repeat(3, auto);
		grid-gap: 10px;
		justify-content: space-evenly;
		align-items: center;
	}
	.bottom-div1 {
		margin-top: 0px;
	}
	.bottom-div2 {
		margin-top: 60px;
	}
	.product-owner {
		margin-left: -20px;
	}
	.art-director {
		margin-left: -10px;
	}
	.tech-lead {
		margin-left: 1px;
	}
	.ux-designer {
		margin-left: -6px;
	}
	.developer {
		margin-left: -1px;
	}
}
@media screen and (max-width: 500px) {
	.image-section {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, auto));
		grid-template-rows: repeat(3, auto);
		justify-content: space-evenly;
		align-items: center;
		padding-left: 40px;
		margin-right: -20px;
	}
	.bottom-div1 {
		margin-top: 0px;
	}
	.bottom-div2 {
		margin-top: 100px;
	}
	
} 
@media screen and (max-width: 400px) {
	.image-section {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, auto));
		grid-template-rows: repeat(3, auto);
		justify-content: space-evenly;
		gap: 40px;
		align-items: center;
		padding-left: 80px;
		margin-right: -20px;
	}
	.bottom-div1 {
		margin-top: 0px;
	}
	.bottom-div2 {
		margin-top: 100px;
	}
	
} 
@media screen and (max-width: 375px) {
	.image-section {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, auto));
		grid-template-rows: repeat(3, auto);
		justify-content: space-evenly;
		gap: 50px;
		align-items: center;
		padding-left: 90px;
		margin-right: -30px;
	}
	.bottom-div1 {
		margin-top: 0px;
	}
	.bottom-div2 {
		margin-top: 100px;
	}
	
} 



  